app-gallery {
	display: block;
	position: relative;
	background: #f7fdfb;

	.container {
		width: 100%;
		max-width: 1024px;
		min-width: 360px;
		margin: auto;
	}
}
.paisajes {
	background: #dff7f1;
}

