<div class="text-info">
	<h2 class="title">titulo</h2>
	<div class="comment">
		<p>
			La descripcion va aqui, la descripcion va aqui,
			la descripcion tenri que ir como por aqui, la descripcion va aqui,
			la descripcion va aqui, la descripcion tenri que ir como por aqui.
		</p>
		<p>
			La descripcion va aqui, la descripcion va aqui,
			la descripcion tenri que ir como por aqui, la descripcion va aqui,
			la descripcion va aqui, la descripcion tenri que ir como por aqui.
		</p>
	</div>
</div>
<div class="image">
	<img src="assets/img/{{data.image}}" alt="imagen">
</div>
<div class="category-info">
	<div><a class="category cat-1" href="/acuarela">#acuarela <i class="icon icon-arrow-right"></i></a></div>
	<div><a class="category cat-2" href="/paisajes">#paisajes <i class="icon icon-arrow-right"></i></a></div>
	<div><a class="category cat-3" href="/acrilico">#acrilico <i class="icon icon-arrow-right"></i></a></div>
	<div><a class="category cat-4" href="/otros">#otros <i class="icon icon-arrow-right"></i></a></div>
</div>