<div class="text-info">
	<h2 class="title">titulo</h2>
	<p class="comment">la descripcion va aqui, la descripcion va aqui, la descripcion tenri que ir como por aqui, la descripcion va aqui, la descripcion va aqui, la descripcion tenri que ir como por aqui</p>
</div>
<div class="image">
	<img src="assets/img/{{data.image}}" alt="imagen">
</div>
<div class="category-info">
	<span class="category">#acuarela <i class="icon icon-arrow-right"></i></span>
	<span class="category">#paisaje <i class="icon icon-arrow-right"></i></span>
</div>

